.reviews {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #212121;

  display: flex;
  padding: 8rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  user-select: none;
}
.review {
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 1rem;
  margin-bottom: 6rem;
  /* align-items: center; */
  gap: 1rem;
}
.from {
  font-family: "Nothing You Could Do", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0rem;
  color: #b85d1c;
  /* margin: 1rem 0 2rem 0.5rem; */
  user-select: none;
}
.text {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Dongle", sans-serif;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 5rem; */
  font-weight: 500;
  user-select: none;
  padding: 0 5rem;
  margin: auto;
}
.image {
  width: 30rem;
  height: auto;
  position: sticky;
  margin: auto;
  box-shadow: 0 0rem 10rem rgba(0, 0, 0, 0.397);
}
