@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: 7.9rem;
  background: url(../../Assets/header.png) bottom no-repeat;
  background-size: cover;
  z-index: 1000;
  user-select: none;
}

.heading {
  font-size: 3rem;
  font-family: "Charmonman", cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 5px rgb(59, 17, 0);
}

.ham {
  box-sizing: border-box;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  margin: 0;
  width: 2rem;
  height: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}
.ham:hover {
  transform: scale(1.1);
}

.hamactive {
  box-sizing: border-box;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  margin: 0;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
}
.hamactive:hover {
  transform: scale(1.1);
}

.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 0.2rem;
  transition: all 0.3s;
}

.bar1 {
  transform: rotate(45deg);
}

.bar3 {
  transform: rotate(-45deg);
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 6rem;
    background: url(../../Assets/header.png) bottom no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }

  .heading {
    font-size: 2.5rem;
    font-family: "Charmonman", cursive;
    text-align: center;
    margin: 0;
    padding: 0.1rem 0 0 0rem;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
  .bar {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 5rem;
    background: url(../../Assets/header.png) bottom no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }

  .heading {
    font-size: 2rem;
    font-family: "Charmonman", cursive;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
  .bar {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 480px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 5rem;
    background: url(../../Assets/header.png) bottom no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }

  .heading {
    font-size: 2.2rem;
    font-family: "Charmonman", cursive;
    text-align: center;
    margin: 0;
    padding: 0.4rem 0 0 1rem;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
}
@media screen and (max-width: 320px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 4rem;
    background: url(../../Assets/header.png) bottom no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }

  .heading {
    font-size: 1.5rem;
    font-family: "Charmonman", cursive;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
  .bar {
    width: 1.5rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
  .ham {
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    margin: 0;
    width: 2rem;
    height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
  }
  .hamactive {
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    margin: 0;
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
  }
}

@media screen and (max-width: 280px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 4rem;
    background: url(../../Assets/header.png) bottom no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }

  .heading {
    font-size: 1.5rem;
    font-family: "Charmonman", cursive;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
  .bar {
    width: 1.5rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
  .ham {
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    margin: 0;
    width: 2rem;
    height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
  }
  .hamactive {
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    margin: 0;
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");
.header {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  height: 7.9rem;
  background: url(../../Assets/header.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  user-select: none;
}
.heading {
  box-sizing: border-box;
  font-size: 3rem;
  font-family: "Charmonman", cursive;
  text-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0rem 0 0rem 0;
  text-shadow: 1px 1px 5px rgb(59, 17, 0);
}
.ham {
  box-sizing: border-box;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  margin: 0;
  width: 2rem;
  height: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}
.ham:hover {
  transform: scale(1.1);
}

.hamactive {
  box-sizing: border-box;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  margin: 0;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
}
.hamactive:hover {
  transform: scale(1.1);
}
.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 0.2rem;
  transition: all 0.3s;
}
.bar1 {
  transform: rotate(45deg);
}

.bar3 {
  transform: rotate(-45deg);
  position: absolute;
}
@media screen and (min-width: 1920px) {
  .header {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 7.9rem;
    background: url(../../Assets/header.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    user-select: none;
  }
  .heading {
    box-sizing: border-box;
    font-size: 3rem;
    font-family: "Charmonman", cursive;
    text-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0rem 0 0rem 0;
    text-shadow: 1px 1px 5px rgb(59, 17, 0);
  }
  .ham {
    box-sizing: border-box;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    margin: 0;
    width: 2rem;
    height: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
  }
  .ham:hover {
    transform: scale(1.1);
  }
  .hamactive {
    box-sizing: border-box;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    margin: 0;
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
  }
  .hamactive:hover {
    transform: scale(1.1);
  }
  .bar {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
  .bar1 {
    transform: rotate(45deg);
  }

  .bar3 {
    transform: rotate(-45deg);
    position: absolute;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 280px) {
} */
