.sidebar {
  box-sizing: border-box;
  height: 100%;
  width: 23rem;
  background-color: rgb(255, 255, 255);
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  position: absolute;
  padding-top: 10rem;
  background: url(../../Assets/sidebar-2.png);
  background-position: right;
  background-size: cover;
  transition: all 1s;
  padding-left: 1rem;
}
.active {
  top: 0;
  left: -2rem;
}
.inactive {
  top: 0;
  left: -25rem;
}
