.app {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: rgb(235, 235, 235);

  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-user-drag: none;
  overflow-y: scroll;
}

.main {
  width: 100%;
  min-height: 100%;
}
