.home {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  /* background-color: rgb(222, 222, 222); */
  display: flex;
  padding: 8rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subtitle {
  font-family: "Nothing You Could Do", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0rem;
  color: #b85d1c;
  margin: 1rem 0 0 0.5rem;
}
.text {
  margin-top: 1rem;
  padding: 0 3rem;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: #4f463f;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 400;
  user-select: none;
}
.image {
  width: 16.5rem;
  height: auto;
  position: sticky;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.885);
}
.image1 {
  transform: translate(40%, 20%) rotate(-10deg);
}
.image2 {
  transform: translate(-45%, 120%) rotate(-10deg);
}
.image3 {
  transform: translate(-0%, 20%) rotate(10deg);
}
.image4 {
  transform: translate(-160%, 70%) rotate(5deg);
}
.image5 {
  transform: translate(-170%, 130%) rotate(5deg);
}
